body{
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.contendor-noticia
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticia-contenedor{
    width: 1150px;
}

.img-noticia{
    width: 1150px;
}